<div id="dashboard_container">
    <h1>Listing projects</h1>
    <%= link_to 'New project', new_project_path %>
    <div id="dashboard_content"/>
</div>


<script type="text/javascript">
    $(function() {
        $('body').bind("Project.ProjectsLoaded", function() {
            $('#dashboard_content').EnterpriseDashboard();
        });
        Project.loadAllProjects();
    });
</script>

