.kanban_board {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.kanban_swimlane {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 6px;
    width: 260px;
    height: 100%;
}

.kanban_swimlane_content {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    height: 100%;
    padding:2px;
    background: #FFFFFF url(swimlane_background.png) repeat-x scroll 0 0;
}

.kanban_swimlane.control_panel {
    width: 250px;
    background: #FFFFFF url(control_panel_background.png) repeat-x scroll 0 0;
    border: 1px solid blue;
    height: 300px;
}

.control_panel_header {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #EEEEEE;
    height: 60px;
}

.control_panel_content {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    height: 100%;
}

.control_panel h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 8px;
}

.kanban_swimlane_header {
    height: 25px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.kanban_swimlane_header .wip_limit {
    float: left;
    margin-left: 4px;
    margin-top:2px;
    border: 1px solid #999;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12pt;
}

.kanban_swimlane_header .wip_limit.editInPlace-active  {
    float:left;
    width:15px;
}
.kanban_swimlane_header .wip_limit.editInPlace-active input {
    float: left;
    width: 15px;
}

.kanban_card {
    min-height: 40px;
    border: 1px solid #999;
    float: left;
    width: 100%;
    background: #FFFFFF url(kanban_card_header_background.png) repeat-x scroll 0 0;
    margin-bottom: 4px;
    margin-left:-1px;
}

.card_hover_actions {
    float:none;
    position: relative;
    top: 0px;
    left: 20px;
    height: 30px;
    background:transparent;
    z-index:100;
}

.card_hover_actions .action {
    float: left;
    cursor: pointer;
}

.card_hover_actions .action.edit {
    margin-top: 4px;
    margin-left:0px;
    width: 16px;
    height: 20px;
    background: transparent url(edit.png) no-repeat 0px 0px;
}

.card_hover_actions .action.delete {
    margin-top: 4px;
    width: 20px;
    height: 20px;
    background: transparent url(delete.png) no-repeat 0px 0px;
}

.card_hover_actions .action.comments {
    margin-top: 4px;
    width: 20px;
    height: 20px;
    background: transparent url(comments.png) no-repeat 0px 0px;
}

.kanban_card_title {
    padding: 4px;
    float: left;
}

.kanban_card_title .title {
    float: left;
    width:230px;
}

.kanban_card_title .title.editInPace-active textarea {
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.kanban_card_header {
    float: left;
    width: 100%;
    font-weight: 800;
}

.kanban_card_header .expand_collapse_arrow {
    margin-left: 0px;
    margin-top: 24px;
}

.kanban_card_header .grippy {
    margin-left: 4px;
    margin-top: 4px;
}

.kanban_card_gravatars {
    float: right;
}

.gravatar {
    float: left;
    border: 1px #999 solid;
    margin-top: -1px;
    margin-right: -1px;
}

.unknown_gravatar {
    width: 30px;
    height: 30px;
    border: 1px #aaa solid;
    font-size: 1.8em;
    text-align: center;
    padding-top: 4px;
}

.kanban_card_body {
    min-height: 60px;
    background: #FFFFFF;
    float: left;
    border-top: 1px dashed #aaa;
}

.kanban_card_task {
    padding-top: 6px;
    color: #777;
    float: left;
    width: 100%;
    background: #FFFFFF;
}

.grippy {
    text-indent:-999em;
    background: transparent url(grippy.png) repeat-x scroll 0 0;
    cursor: pointer;
    width: 6px;
    height: 14px;
    float: left;
    margin-right: 2px;
    margin-left: 2px;
}
.kanban_card_task .state {
    width: 20px;
    height: 20px;
    float: left;
}

.kanban_card_task .owner {
    float: left;

}

.blocked {
    border-color: red;
}

.kanban_card_task .owner img {
    float: left;
}

.no_task_owner {
    width: 18px;
    height: 18px;
}

.kanban_card_task .title {
    margin-top: -1px;
    margin-left:4px;
}

.kanban_card_task .title.editInPlace-active input {
    width: 180px;
}

.task_state_started {
    background: transparent url(task_started.png) no-repeat 0px 0px;
}

.task_state_not_started {
    background: transparent url(task_not_started.png) no-repeat 0px 0px;
}

.task_state_completed {
    background: transparent url(task_completed.png) no-repeat 0px 0px;
}

.task_state_blocked {
    background: transparent url(task_blocked.png) no-repeat 0px 0px;
}

.kanban_card_task .title {
    width: 185px;
    float: left;
}

.kanban_card_new_task {
    margin-top:4px;
    width: 235px;
    margin-left: 6px;
    margin-bottom: 8px;
    margin-right: 7px;
}

/* Collapse/Expand Arrows */
.expand {
    background-position: left center;
    background: transparent url(expand-collapse.png) no-repeat scroll left center;
}

.collapse {
    background-position: right center;
    background: transparent url(expand-collapse.png) no-repeat scroll right center;
}

.expand, .collapse {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    display: block;
    float: left;
    height: 12px;
    margin-right: 5px;
    text-indent: -999em;
    width: 12px;
}


.dashboard {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: left;
}

.dashboard .project {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 6px;
    width: 200px;
    min-height: 200px;
    padding: 6px;
}

.dashboard .project .name {
    font-size: 18px;
}
.dashboard .project .name.editInPlace-active input {
    font-size: 18px;
}
.dashboard .project .description {
    height: 100px;
}
