#content {
    float: left;
    height: 800px;
    font-size: 13px;
    font-weight: 900;
}

.kanban_board {
    float: left;
    width: 100%;
    height: 100%;
}

.kanban_swimlane {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 6px;
    width: 300px;
    height:100%;
}
.kanban_swimlane_content {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    height:100%;
    background: #FFFFFF url(swimlane_background.png) repeat-x scroll 0 0;
}

.kanban_swimlane.control_panel {
    width: 350px;
    background: #FFFFFF url(control_panel_background.png) repeat-x scroll 0 0;
    border: 1px solid blue;
    height: 300px;
}

.control_panel_header {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #EEEEEE;
    height: 60px;
}
.control_panel_content {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     height:100%;
}
.control_panel h1 {
  text-align: center;
  margin-top: 0px;
  padding-top:8px;
}

.kanban_swimlane_header {
    height: 60px
}

.kanban_card {
    min-height: 50px;
    border: 1px solid #999;
    background: #FFFFFF url(kanban_card_header_background.png) repeat-x scroll 0 0;
}
.kanban_card_title {
    padding: 4px;
}

.kanban_card_header {
    float: left;
    width: 100%;
}
.kanban_card_header .expand {
    margin-left:5px;
    margin-top:18px;
}

.kanban_card_gravatars {
    float: right;
}
.gravatar {
    float: left;
    border: 1px #999 solid;
}

.unknown_gravatar {
    width:30px;
    height:30px;
    border: 1px #999 solid;
    font-size: 12px;
    text-align: center;
}

.expand {
    background-position: left center;
    background: transparent url(expand-collapse.png) no-repeat scroll left center;
}

.collapse {
    background-position: right center;
    background: transparent url(expand-collapse.png) no-repeat scroll right center;
}

.expand, .collapse {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    display: block;
    float: left;
    height: 12px;
    margin-right: 5px;
    text-indent: -999em;
    width: 12px;
}
